 				<form class="form" role="form" method="post" action="" accept-charset="UTF-8" id="changePass">
		          <h2 class="text-center">
		            Change password
		           </h2>
		         
		         <div class="form-group">
		            <label class="sr-only" >Old password</label>
		            <input type="password" class="form-control" placeholder="Old password" name="oldPass" id="oldPass" required>
		            <span id="messOldPass"></span>
		         </div>
		        
		         <div class="form-group">
		            <label class="sr-only" >New password</label>
		            <input type="password" class="form-control"  placeholder="New password" name="newPass" id="newPass" required>
		         </div>

		         <div class="form-group">
		            <label class="sr-only" >Repeat new password</label>
		            <input type="password" class="form-control"  placeholder="Repeat new password" name="repNewPass" id="repNewPass" required>
		            <span id="messNewPass"></span>     
		         </div>
		       
		         <div class="form-group">
		            <button type="submit" id="changePassBtn" class="btn btn-primary btn-block">Change</button>
		             <span id="messStatus"></span> 
		         </div>     
		      </form>