<%include head.ejs%>
<body>

<%include nav.ejs%>
	<link rel='stylesheet' href='/css/pass.css' type='text/css' />
	<div class="container-fluid" style="padding:100px;min-height:90vh;">
	   <div class="row">
		  
		   <div class="masonry">
		    <ul class="tabs">
		      <li><a href="#tab1">Change Pass</a></li>
		      <li><a href="#tab2">Forgot Pass</a></li>
		    </ul>
		   
		    <div class="tab_container">
		      
		      <div id="tab1" class="tab_content col-md-8 col-md-offset-1"> 
				<%include change_pass_form.ejs%>	
		      </div>
		     
		      <div id="tab2" class="tab_content col-md-8 col-md-offset-1"> 
		      	<%include forgot_pass_form.ejs%> 	
		      </div>
		     
		    </div>
		  </div>


		  


		 


	   </div>
	</div>






<%include foot.ejs%>
</body>
</html>