	<footer >
				
			
				<div>
				<p class="footer-info text-center"<br><br><br>Nguyễn Hoài Danh - 7/2018</p>
				</div>
	</footer>

				<div class="chat">
					
						<button class="btn btn-success" id="chatBtn" onClick="showChat()">Hỗ trợ trực tuyến.</button>	
							<div  id="chatContent">
								<br>
								<div class="chatMess admin">
									<p>Xin chào, bạn cần tư vấn gì hãy để lại lời nhắn nhé. </p>
								</div>

								
							</div>

							<div>
								<textarea class="form-control" id="yourMess" rows="1"></textarea>
							</div>
					
				</div>


		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="/js/common.js"></script>
		<script type="text/javascript" src="/js/trade.js"></script>	
		<script type="text/javascript" src="/js/ajax.js"></script>	
	