<!DOCTYPE html>
<html>
<html lang="en">
<head id="header">
		<title>Danh's Web</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/image/favi.png" />
		
		
		
		<link rel='stylesheet' href='/css/animation.css' type='text/css'  />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
				
		<link rel='stylesheet' href='/css/common.css' type='text/css'  />
		<link rel='stylesheet' href='/css/trade.css' type='text/css'  />


		
</head>

