#content
{
	padding: 100px 0px;
	min-height: 90vh;
}
.item
{
	background-color: white;
	border: 1px solid green;
}
#imgSrc
{
	width: 150px;
}
#itemName
{
	font-weight: bold;
}
#price
{
	font-size: 20px;
	color: red;
}
#oldPrice
{
	color: green;
}

#number
{
	padding-left: 10px;
	width: 50px;
	color: orange;
	font-weight: bold;
}