*{
	margin:0;
	padding:0;
}
body
{
	background-color: #dddbd2;
}
#avatar
{
	
	width: 300px;
}

#cartLable
{
	font-size: 13px;
}
ul.nav li a:hover  {
		  background-color: transparent;
		  color: yellow;
}
ul.nav li.active a,ul.nav li.active{
			color:yellow;
			background-color: transparent;
			border: none;
}
ul.nav li a{			
			background-color: transparent;
			border: none;
			color: white;
}
.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
.dropdown-menu#account-menu 
{	margin-top: -20px;
	margin-left: 60px;
	font-weight: bold;
	
}

 #account-menu a
 {
 	color: red;
 }
#messLogin,#messUsername,#messPass,#messEmail
{
	color: red;
}
#carousel-id
{
	height: 80vh;
}
.carousel-inner .item img
{
	width: 100vw;
	height: 80vh;
	margin:0;
	padding:0;
}
.carousel-inner .item
{
	width: 100%;
	height: 80vh;
	margin:0;
	padding:0;
}
.nav.navbar-nav
{	font-size:25px;
	color:white;
	font-family: 'Kaushan Script', cursive;	
}
.navbar-brand img
{
	margin-top:-6px;
}
nav .container
{
	margin-left: 200px;
}
.nav.navbar-nav,.navbar-brand img, nav
{
	transition: 0.4s;
}
.nav.navbar-nav.scale,.navbar-brand img.scale
{
	transform: scale(0.8,0.8);
	margin-top:-10px;
}
.navbar-brand img.scale
{
	margin-top:-15px;
}
 #nav-form.scale
 {
 	margin-top:-10px;
 }
 #danhmuc.scale
 {
 	margin-top:9px;
 }
nav.scale	
{
	height: 10px;
	background-color: #bf0000;
}
#nav-form
{
		padding-top:3%;
		transition:0.2s;
}
#danhmuc
{	
	position: fixed;

	margin-top:18px;
	transition:0.2s;
}

#search
{	
	height:30%;
	width:300px;
	padding-left:10px;
	font-size:15px;
	font-family: 'Kaushan Script', cursive;
}
#searchBtn
{	
	height:30%;
	width:55px;
	background-color:lightblue;
}
#chatBtn
{
	width: 124px;
}
#chatContent
{	overflow: auto;
	background-color: white;
	display:block;
	width:100px;
	height:0px;
	transition: 0.2s;
}

.chatMess
{
	max-width: 220px;
	display: inline-block;
}
.chatMess > p
{
	padding: 2px 5px 0px 5px;
}
.chatMess.admin
{
	background-color: gray;
	 margin-left:15px;
	 border-radius:15px 15px 15px 0px;
}
.chatMess.user
{	border-radius:15px 15px 0px 15px;
	background-color: lightblue;
	
}
.chat
{	position: fixed;
	right: 0px;
	bottom: 0px;
}
#yourMess
{	text-align: left;
	width: 300px;
	padding-left: 10px;
	padding-right: 10px;
	bottom: 0;
	position: fixed;
	transition: 0.2s;
	display: none;
}


footer
{
	clear:both;
	text-align:center;
	background-color:#bf0000;
	height:140px;
	width:100vw;
	color:white;
	
}
/* Tab css */
.masonry {
 
  margin: 0 auto;
}

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #999;
}

.tabs li {
  float: left;
  border: 1px solid #999;
  border-bottom: none;
  background: #e0e0e0;
}

.tabs li a {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.tabs li a:hover {
  background: #ccc;
}

.tabs li.active,
.tabs li.active a:hover {
  font-weight: bold;
  background: green !important;
}

.tab_container {
  border: 1px solid #999;
  border-top: none;
  background: #fff;
}

.tab_content {
  padding: 20px;
  font-size: 16px;
  min-height: 350px;
}
