.container-fluid#content
{
	padding: 100px 0px;
	min-height: 90vh;
	
}
#img img
{
	width: 400px;
}
#itemName
{
	font-weight: bold;
}
#price
{
	font-size: 20px;
	color: red;
}
#oldPrice
{
	color: green;
}
div#right p
{
	color: green;
	font-size: 20px;
	font-weight: bold;
}
#number
{
	padding-left: 10px;
	width: 50px;
	color: orange;
	font-weight: bold;
}